<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node"/>
    <!-- <node pkg="lesson2_homework" type="turtle_control" name="turtle_control" output="screen"/> -->
    <!-- <node pkg="lesson2_homework" type="TurtleMove_client" name="TurtleMove_client"/> -->
    <!-- <node pkg="lesson2_homework" type="TurtleMove_server" name="TurtleMove_server"/> -->
    <node pkg="lesson2_homework" type="broadCaster" name="broadCaster"/>
    <node pkg="lesson2_homework" type="robListener" name="robListener" output="screen"/>
</launch>